<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DotNet RealFlowR</title>
</head>
<body id="flow-root">
@RenderBody()
@await RenderSectionAsync("Scripts", false)
</body>
</html>